        .bg1 {
            background: linear-gradient(180deg, #0d1117 0%, #3b2f8f 100%);
        }

        .card {
            border-radius: 15px;
            transition: all 0.3s ease;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transform: translateY(30px);
            animation: fadeInUp 1.3s ease forwards;
        }

        @keyframes fadeInUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .card:hover {
            transform: translateY(-10px);
            /* naik 10px */
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        }

        .btn {
            transition: all 0.3s ease;
        }

        .btn:hover {
            transform: scale(1.03);
        }

        .ig {
            font-weight: bold;
            position: relative;
            top: 40px;
        }

        .ig a {
            text-decoration: none;
        }